@tailwind base;
@tailwind components;
@tailwind utilities;

.viafoura {
  background-color: transparent !important;
}
.vf-expanding-hover-light::before {
  border-width: 0 0 3px 0 !important;
}
.vf-tray-trigger {
  color: white !important;
}
