@tailwind base;
@layer base {
  body {
    @apply font-body;
  }
  h1 {
    @apply text-gray-800 text-4xl font-bold antialiased leading-tight;
  }
  h2 {
    @apply text-gray-800 text-3xl font-bold leading-tight;
  }
  h3 {
    @apply text-gray-800 text-2xl font-semibold leading-tight;
  }
}
@tailwind components;
@tailwind utilities;

.viafoura {
  background-color: transparent !important;
}
.vf-expanding-hover-light::before {
  border-width: 0 0 3px 0 !important;
}
nav .vf-tray-trigger {
  color: white !important;
}
.vf-account-nav-illustration {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.vf-flex-nav::before,
.vf-thread__reply-list-item::before,
.vf3-conversations-list--comments--list::before {
  display: none;
}
.vf3-conversations-list--comments--list {
  padding: 0 !important;
  margin: 0 !important;
}
.prose ol ul {
  padding: 0;
  margin: 0;
}
